@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    background-color: #dbdbdb;
    height: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
}

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px
}

.areaLogin img {
    width: 420px;
}

.formLogin h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}


.formLogin input:focus {
    border: 1px solid #059900;
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
}

.formLogin a:hover {
    color: #059900;
}

.btn {
    background-color: #059900;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;

}

.btn:hover {
    transform: scale(1.05);
    background-color: #07d300;

}

nav.menu-lateral{
    width: 70px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 0 5px;
    box-shadow: 3px 0 0 #059900;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

nav.menu-lateral.expandir{
    width: 220px;
}

.btn-expandir{
    width: 100%;
    padding-left: 20px;
}

.btn-expandir > i{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
    padding-inline-start: 0;
    
}

ul li.item-menu{
    transition: .5s;
}

ul li.ativo{
    background-color: #059900;
}

ul li.item-menu:hover{
    background: #059900;
}

ul li.item-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 10px;
    line-height: 40px;
    margin-left: 15px;
}

ul li.item-menu a .txt-link{
    margin-left: 70px;
    transition: .7s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
}

.quadrado{
    margin-left: 300px;
    margin-top: 80px;
}

#cep{

    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    font-size: 16px; 
    width: 500px;
    height: 30px;
    margin-bottom: 10px;
}

#cep:focus {
    outline: none;
    border-color: #059900;
}

#buscar {
    padding: 10px; 
    background-color: #059900;
    border: none;
    color: #fff;
    border-radius: 5px; 
    font-size: 16px; 
    width: 200px;
    height: 52px;
    margin-bottom: 10px; 
}

#buscar:hover{
    transition: 0.7s;
    background-color: #07d300;
    transform: scale(1.02);
}

#resultado{
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
    width: 730px;
}

.icon-buscar {
    margin-right: 10px;
}

.endereco-table {
    width: 100%;
    border-collapse: collapse;
}

.endereco-table td {
    padding: 5px;
    border: 1px solid transparent;
    text-align: left;
    width: 25%; 
}

.endereco-table td:first-child {
    font-weight: bold;
    width: 4%;
}

.endereco-table td:nth-child(3) {
    font-weight: bold;
    width: 5%;
}

.tabela {
    border-collapse: collapse;
    width: 85%;
}

.tabela td, .tabela th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tabela th {
    background-color: #f2f2f2;
}

a {
    text-decoration: none; 
    color: #333; 
}

a:hover {
    color: #666;
}

.btn-excluir {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.btn-excluir:hover {
    background-color: #c82333;
}

.btn-excluir i {
    font-size: 15px;
}

